services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio_app
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    command: ["npm", "start"]
