services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio_app
    ports:
      - "127.0.0.1:3000:3000"
    environment:
      - NODE_ENV=production
    command: ["npm", "start"]
