.card {
  background-color: rgba(255, 255, 255, 0.06);
  height: 100%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  padding: 5px 4px;
}

.card:hover::before{
  opacity: 1;
}

.card::before {
  background: radial-gradient(
    500px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.09),
    transparent 40%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
}
