@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  height: 100%;
}

body{
  background-color: #ced4da;
  overflow:  auto;
  user-select: none;
}

body::-webkit-scrollbar{
  display: none;
}


